package/bluez*
package/busybox*
package/curl*
package/dbus*
package/expat*
package/firmware-pi
package/ffmpeg*
package/glib*
package/json-c*
package/libevent*
package/libffi*
package/libical*
package/libjpeg-turbo*
package/libmoss*
package/libnl*
package/linux-*
package/mpg123*
package/ncurses*
package/openssl*
package/readline*
package/sox*
package/wpa_supplicant*
package/x264*
package/zlib*
package/v4l2info/bin
package/v4l2info/**/*.o
package/v4l2info/**/*.o.d
devlist
dist
initramfs
initramfs.*
obj
tool
terminfo.tmp
userland
.initramfs
.project
.cproject
