package/busybox*
package/linux-*
package/firmware-pi
package/ffmpeg*
package/json-c*
package/libevent*
package/libjpeg-turbo*
package/libmoss*
package/mpg123*
package/zlib*
package/x264*
package/gpioctl-pi/bin
package/gpioctl-pi/**/*.o
package/gpioctl-pi/**/*.o.d
package/v4l2info/bin
package/v4l2info/**/*.o
package/v4l2info/**/*.o.d
tool
devlist
dist
obj
userland
initramfs
initramfs.*
.initramfs
.project
.cproject
